<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA1VZ5o9h128o5QHNqUwe74teRuEq593e8</string>
	<key>GCM_SENDER_ID</key>
	<string>496692803774</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.compsciIa</string>
	<key>PROJECT_ID</key>
	<string>ibcompsciia-799b8</string>
	<key>STORAGE_BUCKET</key>
	<string>ibcompsciia-799b8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:496692803774:ios:34a21a11695cf322c8c6ef</string>
</dict>
</plist>